* {
  margin: 0;
  padding: 0;
}

#grid-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  width: 960px;
  height: 960px;
  border-style: inset;
  border-color: rgb(169, 19, 49);
  border-width: 5px;
}

div.square {
  min-width: 1px;
  min-height: 1px;
}

#grid-size-btn {
  display: flex;
  width: fit-content;
  margin: 10px auto;
  padding: 5px;
}